#app {
  font-family: 'Montserrat', sans-serif;
}

.router-link-exact-active {
  font-weight: bold;
}
.badge-success {
  background-color: #f33a05;
}
.btn-succes {
  background-color: #f33a05;
  color: white;
}
.card-product {
  border-radius: 15px;
}
.card-img-top {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.card {
  height: 100%;
}
